<html>

<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rammetto+One|Titillium+Web" rel="stylesheet">
	<title>Item Catalog | Delete Menu Item</title>
</head>

<body>

<header>
	<nav class= "navbar navbar-default">
		<div class="container-fluid">
			<div class="row">
				<img src="{{ url_for('static', filename='drink-beer.jpg') }}" class="logo" alt="picture of beer">
				<h1 class="app">Beer App</h1>
			</div>
		</div>
		<div class="col-xs-8">
			{%if 'username' not in login %}
			<button class="btn btn-default"><a href="{{url_for('showLogin')}}">Click Here to Login </a></button>
			{% else %}
			<button class="btn btn-default"><a href="{{url_for('gdisconnect')}}">Logout </a></button>
			{% endif %}
		</div>
</header>

<div class="pane">

	<h2> Are you sure you want to delete {{item.name}}? </h2>

	<form action="#" method = 'post'>
	<button class="btn btn-default"><input type='submit', value = 'Delete'></button>
	</form>

	<button class="btn btn-default"><a href = "{{url_for('showItem', beer_id=item.beer_id, menu_id = item.id)}}"> Cancel </a></button>

</div>
</body>
</html>
